<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AreaPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61F5D7D01D6F43B600762CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F5D7E91D6F43B600762CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F5D7F41D6F43B600762CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
